body {
  background-color: whitesmoke;
  font-size: 1em;
  color: black;
}

.display-5 {
  background-color: var(--bs-purple);
  color: whitesmoke;
}

button, input {
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

input[type=text] {
  background-color: var(--bs-gray-400);
  padding: 3px;
  height: 35px;
  width: auto;
}
