body {
  /* height: 500px; */
  width: 600px;
  background-color: var(--bs-purple);
  color: whitesmoke;
}

.header {
  justify-content: center;
}

.header h1 {
  color: var(--bs-purple) !important;
}

.even-row {
  background-color: #7747d0;
  /* opacity: 0.5; */
}
